<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-7mQhpDl5nRA5nY9lr8F1st2NbIly/8WqhjTp+0oFxEA/QUuvlbF6M1KXezGBh3Nb" crossorigin="anonymous">
<title>hello world</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Job finder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view-jobs">view job</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" href="#">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">contact</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="bnt0">register</button>
                    <button class="bnt1 mx-2">login</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- =====================main section====================== -->

    <section class="main py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-7">
                    <h1>find the most exciting <br>
                        startup jobs</h1>
                    <input type="text" placeholder="job title or keyword">
                    <button class="bnt2 mt-5"> find jobs</button>
                </div>
            </div>
        </div>
    </section>

    <section class="ceta py-5">
        <div class="container-fluid py-5 text-center">
            <p class="red"> featured toures packages</p>
            <h1>Browse Top Categories</h1>
            <div class="row py-5">
                <div class="col-lg-11 m-auto pt-3">
                    <div class="row py-5">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThs6ub6PQfhACVlLDzOhMg0kv18IDHOJAYyXfCRsJCbm4YVZrhh33F8zNVRX-py_mD4Ck&usqp=CAU"
                                        class="img-fluid" alt="">
                                    <h6>
                                        Design and creative</h6>
                                    <h6 class="red">(786)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUQlgzGefYoqz7iv1GsZ3UL4alsIIjopnI0S_33YIB4X1wvd-T25FviktObXLj3NvQn8o&usqp=CAU"
                                        class="img-fluid" alt="">
                                    <h6>
                                        Design and creative</h6>
                                    <h6 class="red">(786)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaNeTFdCsDpDbUryqxqKGBjcOXhdN6Q1qPJnOzO9bAI3n9VUhyyNaqHFIvsgNJ6HEadhA&usqp=CAU"
                                        class="img-fluid" alt="">
                                    <h6>
                                        Design and creative</h6>
                                    <h6 class="red">(786)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEqDDyKRIY4Z3_skbv9yl31NKSc8vBV7IWXveudtFnbjPS7UATKK_D0pXZiOzoZ8hywoM&usqp=CAU"
                                        class="img-fluid" alt="">
                                    <h6>
                                        Design and creative</h6>
                                    <h6 class="red">(786)</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card ">
                                <div class="card-body">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHHmxcLYXydaWNxZjZyuXHXSk8yYnCdI3PWhYmBOBhyxBMjTIpdyXw3_t01iCxOzdPZs&usqp=CAU"
                                        class="img-fluid" alt="">
                                    <h6>
                                        Design and creative</h6>
                                    <h6 class="red">(786)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOeCP7IjneRjybpKLjAjsqV5tzqyrrnzQQFMEZtp3xXEc2fs5yd9k1coCopm37fqxKe-c&usqp=CAU"
                                        class="img-fluid" alt="">
                                    <h6>
                                        Design and creative</h6>
                                    <h6 class="red">(786)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlIWI4xp8HBZf-7uSsZA36erKUB5q9ClHks3D7m1yD1_CGaV29zNwfn9VEi90Ic9rmd4Y&usqp=CAU"
                                        class="img-fluid" alt="">
                                    <h6>
                                        Design and creative</h6>
                                    <h6 class="red">(786)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThs6ub6PQfhACVlLDzOhMg0kv18IDHOJAYyXfCRsJCbm4YVZrhh33F8zNVRX-py_mD4Ck&usqp=CAU"
                                        class="img-fluid" alt="">
                                    <h6>
                                        Design and creative</h6>
                                    <h6 class="red">(786)</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 m-auto">
                            <button class="btn3"> BROWSE ALL SECTORS</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>
    <section class="resume py-5 text-center text-white">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-10 m-auto">
                    <p class="para pb-3">Featured toures packages</p>
                    <h1 class="para2">Make a Difference With Your Online Resume </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 m-auto">
                    <button class="btn3">UPAOD YOUR CV</button>
                </div>
            </div>
        </div>

    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>