<link rel="stylesheet" href="stylesheets/form.css">

<div class="regform">
    <h1>Registration</h1>
</div>
<div class="main">
    <form action="/signup" method="post">
        <div id="name">
            <h2 class="name">name</h2>
            <input class="firstname" type="rext" name="name" placeholder=" enter name" required><br>

        </div>

        <h2 class="name">password</h2>
        <input class="password" type="password" name="password" placeholder=" enter password" required><br>

        <h2 class="name">email</h2>
        <input class="email" type="text" name="email" placeholder=" enter email" required><br>

        <h2 class="name">phone</h2>
        <input class="number" type="text" name="phoneNumber" placeholder=" enter phone number" required><br>

        <button type="submit">register</button>

    </form>
</div>