<link rel="stylesheet" href="stylesheets/form.css">

<div class="regform">
    <h1>registration</h1>
</div>
<div class="main">
    <form>
        <div id="name">
            <h2 class="name">name</h2>
            <input class="firstname" type="rext" name="first_name"><br>

        </div>

        <h2 class="name">password</h2>
        <input class="company" type="text" name="last_name">

        <h2 class="name">email</h2>
        <input class="email" type="text" name="email">

        <h2 class="name">phone</h2>
        <input class="code" type="text" name="area_code">

        <button type="submit">register</button>

    </form>
</div>