<link rel="stylesheet" href="/stylesheets/updateformuser.css">
<h1>Update form</h1>
<div class="form">
    <form action="/updateFormUser" method="post" enctype="multipart/form-data">
        <table class="table">

            <tr>
                <td>resume</td>
                <td><textarea name="resume" id="" placeholder="resume"></textarea></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea name="address" id="" cols="30" rows="10" placeholder="address"></textarea></td>
            </tr>

            <tr>
                <td>experience</td>
                <td><textarea name="experience" id="" cols="30" rows="10" placeholder="experience"></textarea></td>
            </tr>
            <tr>
                <td>skills</td>
                <td><textarea name="skills" id="" cols="30" rows="10" placeholder="skills"></textarea></td>
            </tr>

            <tr>
                <td>Image</td>
                <td><input type="file" name="image" id=""></td>
            </tr>

        </table>
        <button class="btn" type="submit">Submit</button>

    </form>
</div>