* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://img.freepik.com/premium-photo/logging-inquiries-through-multiple-digital-portals-closeup-shot-call-centre-agent-using-cellphone-while-working-office-with-her-colleague-background_590464-60475.jpg?w=2000');
    background-position: center;
    background-size: cover;
    margin-top: 40px;
    font-family: sans-serif;
}

.regform {
    width: 800px;
    background-color: rgb(0, 0, 0, 0.6);
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}


.main {
    background-color: rgb(0, 0, 0, 0.5);
    width: 800px;
    margin: auto;
}

form {
    padding: 10px;

}

#name {
    width: 100%;
    height: 100px;
}

.name {
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.firstname {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 70px;
    font-size: 16px;
}

.lastname {
    position: relative;
    left: 417px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 56px;
    font-size: 16px;
    color: #555;
}

.firstlabel {
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 203px;
    top: -45px;

}

/* .lastlabel {
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 180px;
    top: -45px;

} */


button {
    background-color: #3baf9f;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    margin-left: 200px;
}

button:hover {
    background-color: #5390f5;
    color: aquamarine;
}

.number {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 70px;
    font-size: 16px;
}

.password {


    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 70px;
    font-size: 16px;

}

.email {


    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 70px;
    font-size: 16px;
}