h1 {
    text-align: center;
}

body {
    background: url("https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?cs=srgb&dl=pexels-gdtography-950241.jpg&fm=jpg")no-repeat;
    font-size: 30px;
    background-size: cover;
}

button {
    font-size: 20px;
    position: relative;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 20px;
    width: 120px;
    border: none;
    border-radius: 1rem;
    text-align: center;
}

button:hover {
    background: rgb(34, 32, 32);
    color: white;
    border: none;
    outline: none;
    transition: all 0.4s;
}

.table {
    border-radius: 1rem;
    color: black;
}

.form {
    color: brown;
}
.main {
    background-color: rgb(0, 0, 0, 0.5);
    width: 800px;
    margin: auto;
    padding: 90px;
}
.head{
    font-size: 55px;
    margin: 20px;
}
.btn{
    color:white ;
}

