h1 {
    text-align: center;
}

body {
    background: url("https://st4.depositphotos.com/14101486/28582/i/600/depositphotos_285825710-stock-photo-human-resource-management-and-recruitment.jpg")no-repeat;
    font-size: 30px;
    background-size: cover;
}

button {
    font-size: 20px;
    position: relative;
    background-color: black;
    color: white;
    padding: 20px;
    width: 120px;
    border: none;
    border-radius: 1rem;
    text-align: center;
}

button:hover {
    background: rgb(102, 102, 214);
    color: rgb(15, 15, 13);
    border: none;
    outline: none;
    transition: all 0.4s;
}

.table {
    border-radius: 1rem;
    color: black;
}

.form {
    color: brown;
}