<title>registration</title>

<link rel="stylesheet" href="/stylesheets/addjob.css">
<h1 style="text-align: center;">Registration form<form action=""></form>
</h1>
<div class="form">
    <form action="/company/addjob" method="post">
        <table>
            <tr>
                <td>job title :</td>
                <td><input type="text" placeholder="name" name="name"></td>
            </tr>
            <tr>
                <td>jobdiscription </td>
                <td> <textarea name="jobDiscription" rows="10" placeholder="discription"></textarea> </td>
            </tr>
            <tr>
                <td>Salary</td>
                <td> <input type="number" placeholder="salary" name="salary"></td>
            </tr>
            <tr>
                <td>vacancies</td>
                <td><input type="text" placeholder="vacancies" name="vacancies"></td>
            </tr>
            <tr>
                <td>Experience</td>
                <td><input type="text" placeholder=" enter experience" name="experience"></td>
            </tr>
            <tr>
                <td> Last_apply_date</td>
                <td><input type="date" name="LastApplyDate" placeholder="date"></td>
            </tr>

            <button>submit</button>
        </table>
    </form>
</div>