<title>registration</title>

<link rel="stylesheet" href="/stylesheets/addjob.css">
<h1 style="text-align: center;">Registration form<form action=""></form>
</h1>
<div class="form">
    <div class="main">
    <form action="/company/addjob" method="post">
        <table>
            <tr>
                <td>job title :</td>
                <td><input type="text" placeholder="name" name="name" id="TA"></td>
            </tr>
            <tr>
                <td>jobdiscription </td>
                <td> <textarea name="jobDiscription" rows="10" placeholder="discription" id="TA"></textarea> </td>
            </tr>
            <tr>
                <td>Salary</td>
                <td> <input type="number" placeholder="salary" name="salary" id="TA"></td>
            </tr>
            <tr>
                <td>vacancies</td>
                <td><input type="text" placeholder="vacancies" name="vacancies" id="TA"></td>
            </tr>
            <tr>
                <td>Experience</td>
                <td><input type="text" placeholder=" enter experience" name="experience" id="TA"></td>
            </tr>
            <tr>
                <td> Last_apply_date</td>
                <td><input type="date" name="LastApplyDate" placeholder="date" id="TA1"></td>
            </tr>

        </table>
    </form>
            <button>submit</button>
</div>
</div>