<link rel="stylesheet" href="/stylesheets/updateform.css">
<h1>Update Form</h1>
<div class="form">
    <form action="/company/addjob" method="post">
        <table class="table">
            <tr>
                <td>Type:</td>
                <td><input type="text" placeholder="name" name="type"></td>
            </tr>
            <tr>
                <td>Discription </td>
                <td> <textarea name="Discription" rows="10" placeholder="discription"></textarea> </td>
            </tr>
            <tr>
                <td>Location</td>
                <td> <input type="number" placeholder="salary" name="location"></td>
            </tr>

            <tr>
                <td>Country</td>
                <td><input type="text" placeholder=" enter country" name="country"></td>
            </tr>

            <tr>
                <td>Image</td>
                <td><input type="file" name="image" id=""></td>
            </tr>

        </table>
        <button>Submit</button>
    </form>
</div>